{% load static %}

<script src="https://cdn.tailwindcss.com"></script>
    <link href="/fa/css/fontawesome.css" rel="stylesheet">
    <link href="/fa/css/brands.css" rel="stylesheet">
    <link href="/fa/css/solid.css" rel="stylesheet">
    <script>
      tailwind.config = {
        theme: {
            container:{center:true},
            screens: {
            'sm': '576px',
        
            'md': '960px',
        
            'lg': '1440px',
        },
        extend: {
            colors: {
                clifford: '#da373d',
            }
        }
        }
      }
</script>
<style type="text/tailwindcss">
    @layer utilities {
        h2{
            font-size:24px ;
            font-weight: bold   ;
        }
        *{
            padding: 0px;
            margin: 0px;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .cardTitle{
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            line-height: 1.2; 
        }
    }
</style>

    <header class="text-lg w-full h-[50px] backdrop-blur-xl bg-[#1D1D1D]/30 sticky top-0 z-50 flex items-center">
        <div class="container flex justify-between items-center h-[70px] md:h-[100px]">
            <div class="flex space-x-3 text-lg items-center cursor-pointer">
                <a href=""><div class="ml-3 text-lg md:text-2xl font-bold flex justify-start text-[#E9F1FA]">Habarportal</div></a>
            </div>
            <div class="flex items-center space-x-6 text-black font-medium">
              <button id="searchBut" onclick="hideElement('search_field')" class="w-[25px] h-[25px]">
                <img src="{% static 'logo/search.png' %}" alt="">
              </button>
              <div class="flex items-center justify-between space-x-2">
                <a href="{% url 'set-language' 'tk' %}" class="relative">
                    {% if current_language == 'ru' %}
                      <div class="absolute w-full h-[17px] top-[5px] bg-black opacity-50"></div>
                    {% endif %}
                    <img src="{% static 'logo/tk.svg' %}" alt="" class="w-[25px] h-[25px]">
                  </a>
                  
                  <a href="{% url 'set-language' 'ru' %}" class="relative">
                      {% if current_language == 'tk' %}
                        <div class="absolute w-full h-[17px] top-[5px] bg-black opacity-50"></div>
                      {% endif %}
                    <img src="{% static 'logo/ru.svg' %}" alt="" class="w-[25px] h-[25px]">
                  </a>
              </div>
            </div>
        </div>
    </header>

    
      <!-- field for search  -->
    <div id="search_field" onclick="hideElement('search_field')" class="fixed top-0 left-0 h-screen w-full backdrop-blur-sm bg-black bg-opacity-70 items-start  justify-center z-50" style="display: none;">
      

      <div onclick="event.stopPropagation()" class="border-red-500 p-10 bg-gray-100  mt-24 mx-3 w-full sm:w-2/3 md:w-1/2 lg:w-2/5 space-y-2 rounded-sm relative">

        <button id="esc_search" onclick="hideElement('search_field')" class=" w-10 py-1 absolute top-0 right-0 text-sm sm:text-lg hover:text-red-400 text-gray-300"><i class="far fa-window-close"></i></button>

        <div class="flex ">
        <input type="text" id="" name="" class="shadow-lg w-full bg-white  rounded-bl-md rounded-tl-md text-sm sm:text-lg outline-none text-gray-700 sm:py-2 px-3 leading-10 transition-colors duration-200 ease-in-out ">
        <button class="font-bold text-sm sm:text-lg hover:bg-gray-400 bg-gray-200 w-12 rounded-br-sm rounded-tr-sm"><i class="fas fas fas fa-search"></i></button>
      </div>
      
      <a href="" class="">
        <h2 class="shadow-sm mt-2 hover:bg-gray-500 text-sm sm:text-lg hover:bg-opacity-25 duration-300 transition-all p-3 rounded-sm">Reponsive Lorem ipsum dolor sit amet.</h2>
      </a>
      <a href="" class="">
        <h2 class="shadow-sm mt-2 hover:bg-gray-500 text-sm sm:text-lg hover:bg-opacity-25 duration-300 transition-all p-3 rounded-sm">Reponsive Lorem ipsum dolor sit amet.</h2>
      </a>
      <a href="" class="">
        <h2 class="shadow-sm mt-2 hover:bg-gray-500 text-sm sm:text-lg hover:bg-opacity-25 duration-300 transition-all p-3 rounded-sm">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae labore reiciendis harum quam doloremque sit error velit at corrupti eos, accusantium cupiditate fuga dicta corporis veniam id dignissimos modi enim?Reponsive Lorem ipsum dolor sit amet.</h2>
      </a>
    </div>
  </div>

<script>
    function hideElement(elementId) {
      var element = document.getElementById(elementId);
      if (element.style.display === 'none') {
        element.style.display = 'flex';
      } else {
        element.style.display = 'none';
      }
    }
  // ekranda headerin elemntlerin hide/vis edyan kod 
    document.addEventListener('DOMContentLoaded', function() {
      var myDiv = document.getElementById('headerItems');
      var toggleButton = document.getElementById('controlHeaderItems');
  
      if (myDiv && toggleButton) {
          toggleButton.addEventListener('click', function() {
              myDiv.classList.toggle('hidden');
          });
  
          window.addEventListener('resize', function() {
              if (window.innerWidth >= 960) { // 640 piksel veya daha genişse
                  myDiv.classList.remove('hidden');
                  toggleButton.classList.add('hidden');
              } else {
                  myDiv.classList.add('hidden');
                  toggleButton.classList.remove('hidden');
              }
          });
      } else {
          console.error('Elementler bulunamadı');
      }
  });
  </script>