{% load static %}

<script src="https://cdn.tailwindcss.com"></script>
    <link href="/fa/css/fontawesome.css" rel="stylesheet">
    <link href="/fa/css/brands.css" rel="stylesheet">
    <link href="/fa/css/solid.css" rel="stylesheet">
    <script>
      tailwind.config = {
        theme: {
            container:{center:true},
            screens: {
            'sm': '576px',
        
            'md': '960px',
        
            'lg': '1440px',
        },
        extend: {
            colors: {
                clifford: '#da373d',
            }
        }
        }
      }
</script>
<style type="text/tailwindcss">
    @layer utilities {
        h2{
            font-size:24px ;
            font-weight: bold   ;
        }
        *{
            padding: 0px;
            margin: 0px;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .cardTitle{
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            line-height: 1.2; 
        }
    }
</style>

    <header class="text-lg w-full h-[75px] backdrop-blur-xl bg-transparent sticky top-0 z-50 flex items-center">
        <div class="container flex justify-between items-center h-[70px] md:h-[100px]">
            <div class="flex space-x-3 text-lg items-center cursor-pointer">
                <a href="{% url 'home' %}"><div class="text-lg md:text-2xl font-bold flex justify-start text-blue-400">Habarportal</div></a>
            </div>
            <div class="flex items-center space-x-6 text-black font-medium">
              <button id="searchBut" onclick="hideElement('search_field')" class="w-[25px] h-[25px]">
                <img src="{% static 'logo/search.png' %}" alt="">
              </button>
              <div class="flex items-center justify-between space-x-2">
                <a href="{% url 'set-language' 'tk' %}" class="relative">
                    {% if current_language == 'ru' %}
                      <div class="absolute w-full h-[17px] top-[5px] bg-black opacity-50"></div>
                    {% endif %}
                    <img src="{% static 'logo/tk.svg' %}" alt="" class="w-[25px] h-[25px]">
                  </a>
                  
                  <a href="{% url 'set-language' 'ru' %}" class="relative">
                      {% if current_language == 'tk' %}
                        <div class="absolute w-full h-[17px] top-[5px] bg-black opacity-50"></div>
                      {% endif %}
                    <img src="{% static 'logo/ru.svg' %}" alt="" class="w-[25px] h-[25px]">
                  </a>
              </div>
            </div>
        </div>
    </header>

    
      <!-- field for search  -->
    {% include 'components/search.html' %}