{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'header.html' %}
    <div class="container mx-auto">
        <div class="w-full pt-10">
            <a href="#" class="">
                <img src="{% static 'img/reklama.gif' %}" alt="reklama2" class="w-full h-[150px] object-cover rounded">
            </a>
        </div>
        
        <div class="slider-container bg-gray-200 p-2 overflow-hidden">
            <div class="slider-content flex space-x-10">
            {% for category in categories %}
                <a href="{% url 'news' %}?category_id={{ category.id }}">
                    <div class="slider-item cursor-pointer hover:text-blue-400">{{ category.name }}</div>
                </a>
            {% endfor %}
            </div>
          </div>

          

        {% include 'components/banner.html' %}

        
        <div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-4 py-10">

            {% for new in news %}
                {% include 'components/card.html' %}
            {% endfor %}
        </div>

        
    </div>


<style>
    .slider-content {
        display: flex;
        animation: scroll 200s linear infinite;
    }
        
    .slider-content:hover {
        animation-play-state: paused;
    }

    @keyframes scroll {
        0% { transform: translateX(0); }
        100% { transform: translateX(calc(-100% * 6)); }
    }
    
    
</style>
{% endblock content %}