{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container py-10 mx-auto ">
        <div class="w-full">
            <a href="#" class="">
                <img src="{% static 'img/reklama.gif' %}" alt="reklama2" class="w-full h-[150px] object-cover">
            </a>
        </div>
        <div class="flex space-x-4 py-4">
            <div class="w-1/4">
                <div>Category</div>
                <div>Category</div>
                <div>Category</div>
                <div>Category</div>
                <div>Category</div>
                <div>Category</div>
                <div>Category</div>
                <div>Category</div>
            </div>
            <div class="w-3/4">

            </div>
        </div>
    </div>
{% endblock content %}